In [2]:
#import necessary libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2_contingency
!pip install numpy

Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (1.20.3)

In [3]:

#load externel data file into jupyter notebook
df = pd.read_csv(r"C:\Users\Admin\Desktop\data science assighnments\Hypothesis testing\Hypothesis testing\chi2_test.csv.csv",index_col = 0)

In [4]:
df

                   Smart Thermostat   Smart Light   Total
Satisfaction
Very Satisfied                   50            70     120
Satisfied                        80           100     180
Neutral                          60            90     150
Unsatisfied                      30            50      80
Very Unsatisfied                 20            50      70
Total                           240           360     600

In [5]:
df.columns

Index([' Smart Thermostat', ' Smart Light', ' Total'], dtype='object')

define hypothesis ,
H0 = all variables are independent,
H1 = variables are dependent

In [7]:
# create observed frequency table using crosstab function 

obs = pd.crosstab(index=df[' Smart Thermostat'], columns=df[' Smart Light'])
obs

 Smart Light       50   70   90   100  360
 Smart Thermostat
20                   1    0    0    0    0
30                   1    0    0    0    0
50                   0    1    0    0    0
60                   0    0    1    0    0
80                   0    0    0    1    0
240                  0    0    0    0    1

In [10]:
chi2,p,df,exp = chi2_contingency(obs)

In [11]:
chi2,df

(24.000000000000007, 20)

In [12]:
p

0.2423921616705121

In [13]:
if p < 0.05:
    print('Reject Null Hypothesis ,columns are independent on each other:')
else:
    print('Fail to reject null hypothesis:')

Fail to reject null hypothesis:

In [14]:
1 - stats.chi2.cdf(24.0,20)

0.24239216167051247

In [ ]:
Conclusion:
Since, p=0.24 > 0.05, we fail to reject the null hypothesis.